<div class="page-header">
	<h1>Administration<small> No trespassing!</small></h1>
</div>

<div class="row">
	<div class="col-sm-offset-1 col-sm-2">
		<p><%= link_to 'Manage helplist entries', admin_entries_path, method: :get, class: ['btn', 'btn-primary', 'btn-lg'] %></p>
		<p><%= link_to 'Show old helplist entries', admin_closed_entries_path, method: :get, class: ['btn', 'btn-default', 'btn-lg'] %></p>
	</div>
	<div class="col-sm-offset-3 col-sm-6">
		<% if @current_break %>
			<div class="row">
				<div class="col-sm-offset-4 col-sm-6">
					<p>You are currently on break.</p>
					<%= button_to 'Back to work!', admin_break_path, method: :delete, class: ['btn', 'btn-primary'] %>
				</div>
			</div>
		<% else %>
			<p><span class="label label-danger">Important</span> A coffee break will ignore any comments.</p>

			<%= form_for(@break, url: admin_break_path, html: {class: 'form-horizontal'}) do |f| %>
				<% if @break.errors.any? %>
					<div id="error_explanation" class="alert alert-danger" role="alert">
						<strong><%= pluralize(@break.errors.count, "error") %> prohibited this break from being saved:</strong>

						<ul>
						<% @break.errors.full_messages.each do |message| %>
							<li><%= message %></li>
						<% end %>
						</ul>
					</div>
				<% end %>

				<div class="form-group">
					 <div class="col-sm-offset-4 col-sm-6">
						<div class="checkbox">
							<%= f.label :coffee do %>
							  <%= f.check_box :coffee %> This is a coffeebreak
							<% end %>
						</div>
					</div>
				</div>

				<div class="form-group">
					<%= f.label :comment, class: ['col-sm-4', 'control-label'] %>
					<div class="col-sm-6">
						<%= f.text_field :comment, class: 'form-control', placeholder: 'Some optional comment' %>
					</div>
				</div>

				<div class="form-group">
					<div class="actions col-sm-offset-4 col-sm-6">
						<%= f.submit 'Give me a break!', class: ['btn', 'btn-primary'] %>
					</div>
				</div>
			<% end %>
		<% end %>
	</div>
</div>

<p><%= link_to 'Back to Index', root_path %></p>
