<%= button_to 'I need help!', new_entry_path, method: :get, class: ['btn', 'btn-success'], id: 'need-help-button' %>

<% if @entries.any? %>
	<table class="table table-striped table-condensed">
		<tr>
			<th>Course</th>
			<th>Name</th>
			<th>Room</th>
			<th>Group</th>
			<th>Type</th>
			<th>Waiting</th>
			<th>&nbsp;</th>
		</tr>
	<% @entries.each do |entry| %>
		<tr>
			<td><%= entry.course %></td>
			<td><%= entry.name %></td>
			<td><%= entry.room %></td>
			<td><%= entry.group %></td>
			<td><%= entry.demonstration? ? 'Demo' : 'Help' %></td>
			<td><time datetime="<%= entry.created_at %>"><%= time_ago_in_words(entry.created_at) %></time></td>
			<td><%= button_to 'Remove', entry, :method => :delete, :class => :destroy, :confirm => 'Are you sure?' %></td>
		</tr>
	<% end %>
	</table>
<% else %>
	<div class="alert alert-success">Nobody needs help right now.</div>
<%end %>
