<p id="notice"><%= notice %></p>

<p>
  <strong>Course:</strong>
  <%= @break.course %>
</p>

<p>
  <strong>Message:</strong>
  <%= @break.message %>
</p>

<%= link_to 'Edit', edit_break_path(@break) %> |
<%= link_to 'Back', breaks_path %>
