<!DOCTYPE html>
<html lang="en">
	<head>
		<title>NSA helplist</title>
		<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => false %>
		<%- #= javascript_include_tag 'application', 'data-turbolinks-track' => true -%>
		<%= csrf_meta_tags %>
		<% if ( ( controller_name == 'entries' ) && ( ( action_name == 'filter' ) || ( action_name == 'index' ) ) ) %>
			<meta http-equiv="refresh" content="20">
		<% end %>
		<% if Entry.any? %>
			<%= favicon_link_tag 'red.png' %>
		<% else %>
			<%= favicon_link_tag 'green.png' %>
		<% end %>
	</head>
	<body>

	<% if @debug %>
		<pre>
			<%= @debug %>
		</pre>
	<% end %>
	<% if notice %>
		<div class="alert alert-success">
			<strong>Success!</strong> <%= notice %>
		</div>
	<% end %>
	<% if Coffeebreak.on_break? %>
		<div id="coffee-break" class="alert alert-warning">
			<strong>The supervisors are right now on coffee break.</strong> You are welcome to queue for help and we will get back to you as soon as possible.
		</div>
	<% end %>

		<%= yield %>
		
		<div class="small pull-right">
			Feedback to <a href="mailto:alexander.kratzsch@his.se">Alexander Kratzsch</a>
		</div>
	</body>
</html>
